<%- include("common/_header") %>

<main id="main-site">
    <div id="container">
        <a href="/" class="border-shadow" style="margin: 25%;">
            <span class="text-gradient"><i class="fas fa-angle-double-left"></i> All Products</span>
        </a>

        <div class="form-title text-center">
            <h2 class="text-dark">Add Product</h2>
        </div>
        
        <%- include('common/productForm') %>

    </div>
</main>

<%- include("common/_footer") %>