<%- include("common/_header") %>

<main id="main-site">
    <div id="container">
        <a href="/addProduct" class="border-shadow" style="margin: 10%;">
            <span class="text-gradient"><i class="fas fa-shopping-cart"></i> New Product</span>
        </a>
        <a class="border-shadow export">
            <span class="text-gradient"><i class="fas fa-shopping-cart"></i> Export Products as CSV</span>
        </a>
        <form action="/" method="POST">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Product ID</th>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Units Left</th>
                        <th>Product Category</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <%- include("common/populate") %>
                </tbody>
            </table>
        </form>

        
    </div>
</main>

<%- include("common/_footer") %>
